/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
// -----------------------------------------------------------------------------------------
// |  0 |  1|  2|  3|  4|  5|     | 6|  7 |  8|  9|  10| 11 |   Key numbers
// | 12 | 13| 14| 15| 16| 17|     |18| 19 | 20| 21|  22| 23 |
// | 24 | 25| 26| 27| 28| 29|     |30| 31 | 32| 33|  34| 35 |
//               | 36| 37| 38|   | 39 | 40  | 41 |

&mt {
   flavor = "tap-preferred";
   tapping-term-ms = <500>;
};

/ {
combos {
        compatible = "zmk,combos";
	
	combo_left-option {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp LALT>;
        };
        
        // combo_tab {
        //   timeout-ms = <50>;
        //   key-positions = <12 13>;
        //   bindings = <&kp TAB>;
        // };
        
             combo_Escape {
               timeout-ms = <50>;
               key-positions = <0 1>;
               bindings = <&kp ESCAPE>;
        };
        
                           combo_layer3 {
            timeout-ms = <50>;
            key-positions = <4 14>;
            bindings = <&mo 3>;
        };
        
        
           	    combo_right-command {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp RCMD>;
        };
                       combo_layer3 {
            timeout-ms = <50>;
            key-positions = <5 15>;
            bindings = <&mo 3>;
        };   

        
    };
     macros {
	        scrnshot: scrnshot_macro {
		        compatible = "zmk,behavior-macro";
		        label = "SCRNSHOT";
		        #binding-cells = <0>;
		        bindings = <&kp LSHFT &kp LCMD &kp N4>;
	        };
   };		

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q/1|  W/2|  E/3|  R/4|  T/5|      | Y/6|  U/7 |  I/8|  O/9|  P/0| MINUS |     * top row is tap/hold for numbers
// | TAB  |  A  |  S  |  D  |  F  |  G  |      | H  |  J   |  K  |  L  |  ;  |   '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |      | N  |  M   |  ,  |  .  |  /  |  EXCL |
//               |Left Layer| SHFT | BSPC |   | SPACE | RET  |Right Layer|
                        bindings = <&scrnshot> 
     &scrnshot  &mt N1 Q  &mt N2 W  &mt N3 E &mt N4 R  &mt N5 T      &mt N6 Y &mt N7 U &mt N8 I  &mt N9 O &mt N0 P   &kp MINUS
     &kp TAB    &kp A     &kp S     &kp D    &kp F     &kp G         &kp H    &kp J    &kp K     &kp L    &kp SEMI   &kp SQT
     &kp LCTRL  &kp Z     &kp X     &kp C    &kp V     &kp B         &kp N    &kp M    &kp COMMA &kp DOT  &kp FSLH   &kp EXCL
                               &mo 1 &kp LSHFT &kp BSPC                 &kp SPACE &kp RET &mo 2
                        >;
                };
		
                left_layer {
// -----------------------------------------------------------------------------------------
// |  ~   |  !  |  @  |  #  |  $  |  %  |      |  ^  |  &  |  *  |  (   |  )  | - |
// |  [   |  ]  |  <  |  >  |  \  |     |      |     | HOME|  UP |  END |     | = |
// |   +  |  -  |  *  |  /  |  =  |     |      |BCSP | LEFT| DOWN| RIGHT|     |   |
//                   | TRNS | TRNS | TRNS |   | TRNS| TRNS | TRNS |
                        bindings = <
   &kp TILDE  &kp EXCL   &kp AT    &kp HASH   &kp DLLR   &kp PRCNT	     &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR   &kp RPAR  &kp MINUS
   &kp LBKT   &kp RBKT   &kp LT    &kp GT     &kp BSLH   &none               &none      &kp HOME  &kp UP     &kp END    &none     &kp EQUAL
   &kp PLUS   &kp MINUS  &kp STAR  &kp BSLH   &kp EQUAL  &none               &kp BSPC   &kp LEFT  &kp DOWN   &kp RIGHT  &none     &none
                          	                &trans  &trans  &trans                      &trans  &trans   &trans
                        >;
                };

                right_layer {
// -----------------------------------------------------------------------------------------
// | BTLDR|     |   7 |  8  |  9  |  0  |         |     |     |     |     |     | BTLDR|
// |      |     |   4 |  5  |  6  |     |         |BTCLR| BT0 | BT1 | BT2 | BT3 | BT4  |
// |      |     |   1 |   2 |  3  |     |         |BCSP |     |     |     |     |      |
//                 | TRNS |TRNS | TRNS |             | TRNS | TRNS | TRNS|
                        bindings = <
   &bootloader &none   &kp N7   &kp N8   &kp N9  &kp N0       &none       &none         &none         &none        &none        &bootloader
   &none       &none   &kp N4   &kp N5   &kp N6  &none        &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
   &none       &none   &kp N1   &kp N2   &kp N3  &none        &kp BSPC    &none         &none         &none        &none        &none
                    	            &trans  &trans  &trans              &trans  &trans  &trans
                        >;
                };
        };
};
